


img{width:100%;}

footer {
    i{margin:0.5em;}
}

#card-pic{
    padding-left: 30%;
    padding-right: 30%;
}

#project{
    padding-left: 5%;
    padding-right: 5%;
}

#form{
    margin-left:15%;
    margin-right:15%;
}